# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# PySpark / Hadoop
spark-warehouse/
metastore_db/
derby.log

# Data files (trop lourds pour git)
*.parquet
*.json
*.zip
*.tar.gz
*.h5
*.hdf5
*.pkl
*.pickle
*.pt
*.pth
*.onnx
license-plate-detection-dataset-10125-images/

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.gif

# Logs
logs/
*.log
*.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Model outputs / checkpoints
#checkpoints/
saved_model/
results/
data/
history.csv
